.userLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: darkblue;
}
.userLink:hover{
    color: ghostwhite;
    transition: 0.7s;
}
.userBox{
    display: flex;
    width: 19vw;
    border: #002ead solid 2px;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}