.box{
    display:flex;
    /*flex-direction: column;*/
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    /*height: 10vh;*/
}
.text{
    width:100%;
    display:flex;
    justify-content: center;
    color: darkblue;
}
.form{
    /*margin-top: 20px;*/
    width: 50%;
    height: 5vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inp{
    border-radius: 10px;
    border:none;
    height: 2vh;
    width: 30%;
    color:white;
    background-color: #3CBC8D;
}
input::placeholder{
    color:white;
    display: flex;
    align-items: center;
}
.button{
    border: none;
    outline: none;
    background-color: cornflowerblue;
    height: 2vh;
    margin-top: 0;
    padding:10px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}
.button:hover{
    background-color: #002ead;
    transition: 0.7s;
}